.container {
  height: 100%;
  padding-bottom: 24px;

  .header {
    height: 65px;
    width: 100%;
    padding: 16px;
    -webkit-app-region: drag;
    user-select: none;

    display: flex;
    align-items: center;

    .header-icon {
      width: 45px;
    }

    .title {
      font-size: xx-large;
      font-weight: 1000;
      margin: 0 8px;
    }

    .operate-area {
      margin-left: auto;
      display: flex;
      align-items: center;

      .operate-btn {
        &:last-child {
          margin-right: 0 !important;
        }
        margin: 8px;
        .icon {
          font-size: large;
          color: #000;
          -webkit-app-region: no-drag;
        }
      }
    }
  }
}
