.user-card {
  background-color: var(--base-bg-card-color);
  height: 90px;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  display: flex;

  .avatar {
    display: flex;
    align-items: center;

    .avatar-img {
      width: 60px;
      border-radius: 50%;
      -webkit-user-drag: none;
    }
  }

  .info {
    margin-left: 15px;
    width: 350px;
    font-weight: 1000;

    .info-container {
      height: 60px;
    }

    .label {
      border-radius: 12px;
      user-select: none;
      text-align: center;
    }

    .basic-info {
      display: flex;
      font-size: 16px;

      .label {
        &:last-child {
          margin-left: 16px;
        }

        background-color: var(--base-label-color);
        color: var(--base-font-color);
        padding: 0 12px;
      }
    }

    .hero-info {
      font-size: 12px;
      margin-top: 16px;
      display: flex;

      .label {
        line-height: 20px;
        background-color: var(--base-label-color);
        color: var(--base-font-color);
        margin-right: 10px;
        padding: 0 8px;
      }
    }
  }
}

.charts {
  background-color: var(--base-bg-card-color);
  height: 320px;
  margin: 15px;
  margin-top: 30px;
  padding: 8px;
  border-radius: 10px;

  .tab-area {
    padding: 8px;
    display: flex;

    .tab-btn {
      color: var(--base-font-color);
      border-bottom: 1px solid rgb(0, 0, 0);
      // cursor: pointer;

      &:last-child {
        margin-left: 30px;
        border-bottom: 1px solid rgb(255, 128, 128);
      }
    }

  }
}