.user-card {
  background-color: #ffbcbc;
  height: 90px;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;

  display: flex;

  .avatar {
    display: flex;
    align-items: center;

    .avatar-img {
      width: 60px;
      border-radius: 50%;
      -webkit-user-drag: none;
    }
  }

  .info {
    margin-left: 15px;
    width: 350px;
    font-weight: 1000;

    .info-container {
      height: 60px;
    }

    .label {
      border-radius: 12px;
      user-select: none;
      text-align: center;
    }

    .basic-info {
      display: flex;
      font-size: 16px;
      .label {
        &:last-child {
          margin-left: 16px;
        }
        background-color: #ffaeae;
        color: #5e4444;
        padding: 0 12px;
      }
    }

    .hero-info {
      font-size: 12px;
      margin-top: 16px;
      display: flex;
      .label {
        line-height: 20px;
        background-color: #ffd7a3;
        color: #745e42;
        margin-right: 10px;
        padding: 0 8px;
      }
    }
  }
}

.charts {
  background-color: #ffbcbc;
  height: 320px;
  margin: 15px;
  margin-top: 30px;
  padding: 8px;
  border-radius: 10px;

  .tab-area {
    padding: 8px;
    display: flex;

    .tab-btn {
      &:last-child {
        margin-left: 30px;
      }
    }

    .ant-btn-dashed {
      background-color: #ffaeae;
      border: 1px dashed rgb(238, 238, 238);

      &:hover {
        background-color: #ffadad;
        color: #000;
      }

      &:focus {
        background-color: #ffadad;
        color: #000;
      }
    }
  }
}
