@import '~antd/dist/antd.css';
@import './static/font/font.css';

body {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

:root {
  --base-bg-color: #ffe8c9;
  --base-bg-card-color: #ffbaba;
  --base-label-color: #ffd5d5;
  --base-font-color: #4e4e4e;
  --base-icon-color: #000000;
  --base-border-dashed: 1px dashed #fffcf8;
  --base-high-light-color: #dad0c2;
}

#root {
  background: var(--base-bg-color);
  margin: 5px;
  border-radius: 10px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
